<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Up In Smoke Tempe</title>
{% include meta.html %}
  </head>
  <body>
      <div class="center">
        <h1>Up In Smoke Tempe</h1>
<p class="pre">
  Full-service smoke and head shop and the ultimate all-in-one location for disposable
vapes, tobacco, CBD, kratom, pipes, water pipes, wraps, incense and accessories.
We have a large array of products including hookah's, grinders, scales, detox,
whipped cream chargers, and tons of flavors of blunt wraps and cigarillos including
ZIG-ZAG, Swisher Sweets, White Owl, The Game, Backwoods, Dutch Masters
and Dutch Fusion. Along with hemp wraps by Billionaire, High Hemp, & Twisted.

We also carry exclusive water pipes such as KRUNK, PKG, Chauncey Glassworks,
Special K glass, Delta 9, Sik Kreations and many others. Whether you're a recreational
weekend warrior, a 50 year seasoned smoker or anything in between, we have something
for you.
</p>

<h3>OPEN 7 Days a week.</h3>

<address class="address">
  <a href="https://www.google.com/maps/place/23+W+Baseline+Rd,+Tempe,+AZ+85283">📫 23 W Baseline Rd, Tempe, AZ 85283</a>
</address>

<div class="email">
  <a href="mailto:upinsmokeshoptempe@gmail.com">upinsmokeshoptempe@gmail.com</a>
</div>

<div class="phone">
  <a href="tel:+14807550187">480-755-0187</a>
<div>

    </div>
    <!-- {{ content }} -->
  </body>
</html>
